<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../componente-uno/componente-uno.html"> 
<link rel="import" href="../componente-dos/componente-dos.html"> 

<dom-module id="componente-principal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
	<componente-uno id="misBotones" on-data-table-response="recibeBotones" ></componente-uno>
	<componente-dos></componente-dos>
  </template>

  <script>
    /**
     * `componente-principal`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentePrincipal extends Polymer.Element {
      static get is() { return 'componente-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componente-principal'
          }
        };
      }
    }

    window.customElements.define(ComponentePrincipal.is, ComponentePrincipal);
  </script>
</dom-module>
